@*
    Title:
    Body text:


*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Partial Successful Verification</title>
</head>
<body>

    <div style="max-width:976px;min-width:378px; margin:auto">
        <div style=" background-color: #0B1D0F; height: 195px; display: flex; align-items: center;">
            <div>
                <div>
                    <img style=" height: 50px; padding: 5px; margin-left: 50px;" src="~/Pics/IDUX.png" />
                </div>
                <div>
                    <p style="
                        color:white;
                        margin-left:50px;
                        font-family: Inter;
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 36px;
                        letter-spacing: 0em;
                        text-align: left;">Partial Successful Verification</p>
                </div>
            </div>
        </div>
        <div style="padding: 0px 30px;">
            <div>
                <p style="font-family: Inter; font-size: 18px; font-style: normal; font-weight: 600; line-height: 24px; letter-spacing: 0em; text-align: left;">
                    Partial Successful Verification
                </p>
                <p style="font-family: Inter; font-size: 18px; font-style: normal; font-weight: 400; line-height: 24px; letter-spacing: 0em; text-align: left;">
                    [Name of Identity Owner]<br />
                </p>
                <p style="font-family: Inter; font-size: 18px; font-style: normal; font-weight: 400; line-height: 24px; letter-spacing: 0em; text-align: left;">
                    <span><b>Satus: </b> Successful</span>
                </p>
                <p style="font-family: Inter; font-size: 18px; font-style: normal; font-weight: 400; line-height: 24px; letter-spacing: 0em; text-align: left;">
                    If you want to fully match the verification for higher Trust Score, you can do so by loggin into the dashboard
                </p>
                <span>
                    <button style=" border-radius: 5px; width:auto; min-width: 146px; max-height: 50px; border: none; color: white; background: #3D854D; font-family: Inter; font-size: 18px; padding: 10px; font-style: normal; font-weight: 600; line-height: 22px; letter-spacing: 0em; align-items: center; text-align: center; margin: 5px">
                        Go to Dashboard
                    </button>
                </span>
                <p style="font-family: Inter; font-size: 18px; font-style: normal; font-weight: 400; line-height: 24px; letter-spacing: 0em; text-align: left;">
                    Thanks for verifying with IDUX.
                </p>
            </div>

        </div>
        <div style="
        background-color: #D1D6D2;
        padding:20px 0px 10px 0px;"
             margin-top: 10px;">
            <div style="padding:20px 0px 20px 0px;">
                <h5 style="margin:0px 50px; font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            display: block;">
                    IDUX is an identity verification SaaS platform that operates under high standards of regulation, security and privacy.
                </h5>

                <div style="padding:0px 50px;">
                    <div style="padding:20px 0px;">
                        <div style="
                            max-width: 700px;
                            min-width: 250px;
                            background: #E0E3E1;
                            border-radius: 14px;
                            display: flex;
                            flex-wrap:wrap;
                            align-items: center;
                            padding: 8px 16px;

                            text-align: center;">
                            <span style="
                                background: #E0E3E1;
                                border-radius: 12px;
                                width: 100%;
                                max-width: 180px;
                                margin-left: 0px;
                                padding-left:0px;
                                padding:10px 0px;
                                font-family: Inter;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 16px;
                                letter-spacing: -0.025em;
                                text-align: center;
                                text-align: center;">Compliance certified</span>
                            <span style="
                                background: #F0F1F0;
                                border-radius: 12px;
                                width: 100%;
                                max-width: 80px;
                                margin: 5px;
                                padding: 10px;
                                font-family: Inter;
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 16px;
                                letter-spacing: -0.025em;
                                text-align: center;
                            ">ISO 27001</span>
                            <span style="
                                background: #F0F1F0;
                                border-radius: 12px;
                                width: 100%;
                                max-width: 80px;
                                margin: 5px;
                                padding: 10px;
                                font-family: Inter;
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 16px;
                                letter-spacing: -0.025em;
                                text-align: center;
                                display: inline-block;
                                vertical-align: top;
                            ">SOC 2</span>
                            <span style="
                                background: #F0F1F0;
                                border-radius: 12px;
                                width: 100%;
                                max-width: 80px;
                                margin: 5px;
                                padding: 10px;
                                font-family: Inter;
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 16px;
                                letter-spacing: -0.025em;
                                text-align: center;
                                display: inline-block;
                                vertical-align: top;
                            ">ASAE 3150</span>
                            <span style="
                                display: inline-block;
                                vertical-align: top;
                                background: #F0F1F0;
                                border-radius: 12px;
                                width: 100%;
                                max-width: 80px;
                                margin: 5px;
                                padding: 10px;
                                font-family: Inter;
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 16px;
                                letter-spacing: -0.025em;
                                text-align: center;
                                display: inline-block;
                                vertical-align: top;
                            ">SOC 3</span>
                        </div>
                    </div>
                </div>

                <div style="font-family: Inter; font-size: 16px; font-style: normal; font-weight: 400; line-height: 19px; letter-spacing: 0em; text-align: left; display: block;">
                    <p style="padding-left:50px; font-family: Inter; font-size: 16px; font-style: normal; font-weight: 400; line-height: 40px; letter-spacing: 0em; text-align: left; display: block;">&#64; 2021 Data Zoo Group</p>
                    <p style="padding-left:50px; font-family: Inter; font-size: 16px; font-style: normal; font-weight: 400; line-height: 5px; letter-spacing: 0em; text-align: left; display: block;">Privacy Policy</p>
                    <p style="padding-left:50px; font-family: Inter; font-size: 16px; font-style: normal; font-weight: 400; line-height: 5px; letter-spacing: 0em; text-align: left; display: block;">www.idux.com.au</p>
                    <p style="padding-left:50px; font-family: Inter; font-size: 16px; font-style: normal; font-weight: 400; line-height: 5px; letter-spacing: 0em; text-align: left; display: block;">Contact us</p>
                </div>
            </div>
        </div>

    </div>


</body>
</html>
